<div id="home-container">
  <div id="intro-section">
    <div class="overlay" [style.height.px]="windowHeight"></div>
    <div [style.height.px]="windowHeight"
         class="container">
      <div class="row">
        <div id="main-marquee">
          <div class="row">
            <div [style.top.px]="halfWindowHeight" class="col-sm-12">
              <div id="intro-container">
                <h1 id="intro-name">gae-ng4-base Beta</h1>
                <h2 id="intro-title">Mining Payment Tracker</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="main-container">
  </div>
</div>

<div class="site-gradient">
  <router-outlet></router-outlet>
</div>
